h5 {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
}
p {
  color: white;
  font-family: "Libre Baskerville", serif;
}
#header {
  text-align: center;
  margin: 160px auto;
  font-family: "Libre Baskerville", serif;
}
.carousel-item {
  border: none;
}
#carouselExampleControls {
  justify-content: center;
  margin-top: -140px;
  border: none;
}
#nav {
  background-color: #ffd7ba;
}
.carousel-item :hover {
  background-color: #d6a777;
  opacity: 0.8;
  color: white;
}
h5 :hover {
  color: white;
  opacity: 1;
}
