h5 {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
}
p {
  color: white;
  font-family: "Libre Baskerville", serif;
}
.icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 250px;
  color: #d69d778f;
}
.icon :hover {
  color: #d69d778f;
}
.icon :visited {
  color: #d69d778f;
}
.imgdis {
  color: black;
}
.cription {
  color: black;
}
#header {
  text-align: center;
  margin: 160px auto;
  font-family: "Libre Baskerville", serif;
}
.header3 {
  text-align: center;
  margin-top: -80px;
  font-family: "Libre Baskerville", serif;
}
.header2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
.carousel-item {
  border: none;
}
#carouselExampleControls {
  justify-content: center;
  margin-top: -140px;
  border: none;
}
#nav {
  background-color: #c4ab90;
}
.carousel-item :hover {
  background-color: #d6a777;
  opacity: 0.8;
  color: white;
}
h5 :hover {
  color: white;
  opacity: 1;
}
@media (max-width: 1000px) {
  .header3 {
    font-size: small;
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 10px;
    margin-top: -10px;
  }
  .header3 {
    font-size: small;
    margin-top: 50px;
  }
  #basi {
    margin-left: -1000px;
  }
  .icon {
    display: flex;
    justify-content: space-evenly;
    font-size: 150px;
    color: #d69d778f;
  }
  .icon :hover {
    color: #d69d778f;
  }
  .icon :visited {
    color: #d69d778f;
  }
}
#basi {
  border-radius: 160px;
  margin-left: 50px;
}
.header-2 {
  margin-top: -1000px;
}
#container {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Libre Baskerville", serif;
}
#bttn {
  background-color: #c4ab90;
  border-color: #c4ab90;
}
